* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Revalia', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
