.swiper {
    max-width: 1058px;

    &-wrapper{
        margin-bottom: 60px;
    }

    @media (max-width: 1439px) {
        width: 858px;
    }
    @media (max-width: 1023px) {
        width: 494px;
    }
    @media (max-width: 767px) {
        width: 212px;
        
    }    
}